body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d42424;
    /* background-image: url('https://th.bing.com/th/id/OIP.80Na2cgB_RJs19N1YLeKHwHaEY?rs=1&pid=ImgDetMain'); */
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9; 
    background-color: #a19fa4;
    
}








.box { 

      

    padding-top: 100px;
    border: 1px solid black;
    width: 250px;
    padding: 70px;
    border-radius: 10px;
    height: 200px;
    text-align: center;
    box-shadow: 1px 1px 10px  0px;
    border: none;
    padding-bottom: 120px;

}


input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #232624;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}



button:hover {
    background-color: rgb(221, 21, 24);
    color: black;
    font-weight: bolder;
    transition-duration: 0.9s;
    border-radius: 50px;


}
input:hover{ 
    transition-duration: 0.9s;
    background-color: #c1d8c8;
    color: rgb(30, 24, 24);
    font-size: 16px;
    border-radius: 5px;
    font-weight: bolder
}


.h1{ 
    font-weight: bolder;  
    font-style:inherit;
}




.slider-thumb::before {
    position: absolute;
    content: "";
    left: 30%;
    top: 20%;
    width: 450px;
    height: 450px;
    background: #17141d;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 5s linear infinite;
  }
  @keyframes sliderShape{
    0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
      transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
  }